.deliverybtn {
  border: 2px solid #1d6c93;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.delivery-open-calendarbtn {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.delivery-flex {
  background: white;
  padding: 0.4em;
  margin: auto;
  color: #1d6c93;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.delivery-selected-date {
  font-size: 20px;
  text-align: left;
  margin-right: 1em;
}

.delivery-earliest {
  display: flex;
  background-color: #ecf4f9;
  border-radius: 0.2em;
  text-align: left;
  font-size: 18px;
  margin: -0.5em 2em 0 0;
  padding: 0 0.5em;
}
.van-img {
  margin-right: 0.5em
}

@media screen and (max-width: 600px) {
  .open-calendarbtn {
    flex-direction: column;
    justify-content: center;
  }

  .open-calendarbtn a {
    justify-content: center;
    margin: 0%;
    padding: 0;
  }
}
