.deliverybtn {
  border: 2px transparent;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.delivery-open-calendarbtn {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.delivery-flex {
  background: white;
  padding: 0.4em; 
  margin: auto;
  color: #1d6c93;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.delivery-selected-date {
  font-size: 20px;
  text-align: left;
  margin-right: 1em;
}

.delivery-earliest {
  display: flex;
  background-color: #EEF7F1;
  border-radius: 0.2em;
  text-align: left;
  font-size: 18px;
  margin: -1em 3em 0.5em 0;
  padding: 0.4em;
}
.van-img {
  margin-right: 0.5em;
}

.delivery-day {
  position: absolute;
  left: 80%;
  top: 28%;
  font-size: 18px;
  font-weight: 450;
}
.calendar-img {
  height: 2.5rem;
  /* background-color: white; */
}

.delivery-change {
  font-size: 18px;
  margin: 0.3em 0.1em 0;
  text-decoration-line: underline;
}

.delivery-calendar-change { 
  background-color: #c9dbe8;
  /* margin: 0; */
  /* display: inline-block; */
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
  height: 6.5em;
}   