.card-checkout {
  background-color: #f0f0f0;
  color: #1d6c93;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 30%;
  justify-content: center;
  text-align: center;
  margin: 2em;
  padding: 2em;
  border: 4px transparent;
  border-radius: 4px;
}
.tag-free-delivery {
  font-size: 20px;
  margin: -0.5em 7em 1em 0;
  padding: 0.5em;
  background-color: #e7e6e4;
  border-radius: 0.2em;
  text-align: left;

}

@media screen and (max-width: 600px) {
  .card-checkout {
    max-width: 75%;
  }
}
