.card-checkout {
    background-color: #F0F0F0;
    color: #1D6C93;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 50%; 
    justify-content: center;
    text-align: left; 
    margin: 2em;
    padding: 2em;
    border: 4px transparent;
    border-radius: 4px;
}
.tag-free-delivery {
    font-size: 20px;
    margin-bottom: 3em;
    background-color: #e7e6e4;
}
